.preview-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  color: #fff;
  background-color: #269;
  background-image:
    linear-gradient(rgba(255,255,255,.1) 2px, transparent 2px),
    linear-gradient(90deg, rgba(255,255,255,.1) 2px, transparent 2px),
    linear-gradient(rgba(255,255,255,.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,.05) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
  text-shadow: 0 1px 0 #00000050;
}
img.title-image {
  height: auto;
  margin: 0 auto 3rem;
}