@charset "utf-8";

:root {
  --color-danger: #eb3d26;
  --color-alert: #f87e25;
  --color-success: #4caf50;
  --color-info: #368ace;

  --text-main-color: #333;
  --text-main-shadow-color: #ffffff80;

  --link-color: #d60000;
  --link-visited--color: #a10000;
  --link-hover--color: #cf0000;
}